<!---footer section starts-->
<div class="card text-center">
  <div class="card-body">
    <ul class="nav nav-tabs card-footer-tabs">
      <li><a class="nav-link" href="#">Get to know us</a></li>
      <li>about us</li>
      <li>Careers</li>
      <li>Press Releases</li>
      <li>Cares</li>
      <li>Gift a Smile</li>
      <li>Science</li>
      <li class="">
        <a class="nav-link" href="#">connect with us</a>
      </li>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
      <li class="">
        <a class="nav-link" href="#">make money with us</a>
      </li>
      <li class="" href="#">Let us help you</li>
    </ul>
  </div>
  <div class="card-footer">
    <h5 class="card-title">Back to top</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
